<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
</head>

<body>
  <ul class="user-list">
    <% for (const user of users) { %>
      <li class="user-name"><%= user %></li>
    <% } %>
  </ul>
  <input type="text" class="input-text" />
  <button class="send-button">送信</button>
  <!--  -->
  </ul>
 

  <p><input type="number" class="delete-row"/>
    <label >行目:</label>

  <button class="delete-button">削除</button></p>
  <p><input type="number" class="change-row"/>
    <label >行目:</label>
    <input type="text" class="input-text2" />

  <button class="change-button">変更</button></p>



  <!--  -->


  <script src="/static/index.js" defer></script>



</body>

</html>